<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>..:: Prodajalna pesmi ::..</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<style>
		.form-control#EmailValidate {
			border-width: 0;
			display: inline;
			-webkit-box-shadow: none;
		}

		.racun-stranke {
			background-color: #ccefff;
			font-weight: bold;
			text-decoration: underline;
		}
	</style>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container text-center">
	<div class="row">
		<div class="col-md-6">
			<h3><span class="glyphicon glyphicon-user"></span> Dodajanje nove stranke</h3>
			<div id="stranke">
				<form action="" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<input type="text" class="form-control" id="FirstName" 
						  name="FirstName" placeholder="Ime"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="LastName" 
						  name="LastName" placeholder="Priimek"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Company" 
						  name="Company" placeholder="Podjetje"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Address" 
						  name="Address" placeholder="Naslov"/>
					</div>
					<div class="form-group">
						<div class="ui-widget">
							<label for="tags"></label>
							<input type="text" class="form-control" id="City" 
							  name="City" list="json-datalist" placeholder="Mesto"/>
							  <datalist id="json-datalist"></datalist>
						</div>

					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="State" 
						  name="State" placeholder="Okrožje"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Country" 
						  name="Country" placeholder="Država" readonly/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="PostalCode" 
						  name="PostalCode" placeholder="Poštna številka" readonly/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Phone" 
						  name="Phone" placeholder="Telefon"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Fax" 
						  name="Fax" placeholder="Faks"/>
					</div>
					<div class="form-group" style="text-align: left">
						<input type="email" class="form-control" id="Email" 
						  name="Email" placeholder="E-pošta" 
						  style="width: 90%;margin-right: 10px;display: inline;"/>
						<span id="EmailValidate" class="glyphicon glyphicon-remove"></span>
					</div>
					<div class="form-group">
						<p class="help-block"><%= sporocilo %></p>
						<input type="submit" id="Register" class="btn btn-default" 
						  value="Registracija" disabled/>
					</div>
				</form>
			</div>
		</div>

		<div class="col-md-6">
			<h3><span class="glyphicon glyphicon-hand-right"></span> Izbira stranke</h3>
			<div id="seznam1">
				<form action="/stranka" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<select size="10" id="seznamStrank" name="seznamStrank" class="form-control">
							<% seznamStrank.forEach(function(stranka) { %>
							<option value="<%= stranka.CustomerId %>">
								<%= stranka.FirstName %> <%= stranka.LastName %>, <%= stranka.Email %> :: <%= stranka.Country %> (<%= stranka.StRacunov%>)
							</option>
							<% }) %>
						</select>
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-default" value="Izbira stranke"/>
					</div>
				</form>
			</div>
			<br/>
			<h3><span class="glyphicon glyphicon-usd"></span> Izbira računa</h3>
			<div id="seznam2">
				<form action="/izpisiRacunBaza" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<select size="10" id="seznamRacunov" name="seznamRacunov" class="form-control">
							<% seznamRacunov.forEach(function(racun) { %>
							<option value="<%= racun.InvoiceId %>" customerId="<%= racun.CustomerId %>" selected>
								<%= racun.Naziv %>
							</option>
							<% }) %>
						</select>
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-default" value="Izbira računa"/>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
	$(document).ready(function () {
		var emailRegex = /^[A-Z0-9._%+-]+@[A-Z0-9.-]+.[A-Z]{2,4}$/i;
		function Get(url){
			var Httpreq = new XMLHttpRequest();
			Httpreq.open("GET",url,false);
			Httpreq.send(null);
			return Httpreq.responseText;
		}
		var json_obj = JSON.parse(Get("https://api.lavbic.net/kraji"));
		
		
		document.getElementById("City").addEventListener("keyup", function () {
			if (this.value.length == 0) {
				document.getElementById("PostalCode").value = "";
				document.getElementById("Country").value = "";
				document.getElementById("Register").disabled = true;
			}
			//console
			var options = '';
			for(var i = 0; i<json_obj.length;i++){
				if(json_obj[i].kraj.toLowerCase().indexOf(this.value.toLowerCase()) == 0){
					options += '<option id="'+ i +'" value="' + json_obj[i].kraj +'" />';
					
				}
			}
			document.getElementById('json-datalist').innerHTML = options;
			//console.log(json_obj[i].kraj);
			//i++;
		});
		
		document.getElementById("City").addEventListener("select",function(){
			//console.log("selected");
			var string = document.getElementById("City").value;
			for(var i = 0; i<json_obj.length;i++){
				if(json_obj[i].kraj === string){
					document.getElementById("PostalCode").value = json_obj[i].postnaStevilka;
					document.getElementById("Country").value = "Slovenija";
					break;
				}
			}
			
			
			checkIfRegisterReady();
			
			
		});

		console.log(document.getElementById("seznamStrank").value);
		var e = document.getElementById("seznamStrank");
		//var osebek = e.options[e.selectedIndex].value;
		//console.log(osebek);
		e.addEventListener("click",function(){
			console.log(this.value);
			console.log(e.options[this.value-1].text);
			var imePriimek = e.options[this.value-1].text.substr(0,e.options[this.value-1].text.indexOf(',') );
			//console.log(this.innerHTML);
			var x = document.getElementById("seznamRacunov").options.length
			
			for(var i = 0;i<x;i++){
				//console.log(document.getElementById("seznamRacunov").options[i].text);
				//if(document.getElementById("seznamRacunov").options[i].text.includes(imePriimek)){
					document.getElementById("seznamRacunov").options[i].classList.remove("racun-stranke");
				//	console.log("notr");
				//}
				
			}
			
			for(var i = 0;i<x;i++){
				//console.log(document.getElementById("seznamRacunov").options[i].text);
				if(document.getElementById("seznamRacunov").options[i].text.includes(imePriimek)){
					document.getElementById("seznamRacunov").options[i].classList.add("racun-stranke");
					console.log("notr");
				}
				
			}
			
			//console.log
			
		})
		
		

		
		document.getElementById("Email").addEventListener("keyup", function () {
			if(emailRegex.test(this.value)){
				console.log("naslov je pravilen");
				//document.getElementById("EmailValidate").classList.add('glyphicon glyphicon-ok');
				//document.getElementById("EmailValidate").classList.remove('glyphicon glyphicon-remove');
				document.getElementById("EmailValidate").className = "glyphicon glyphicon-ok";
				//if(!(document.getElementById("Country").value === null || document.getElementById("Country").value === ""))document.getElementById("Register").disabled = false;
				checkIfRegisterReady();
				
			}else{
				document.getElementById("EmailValidate").className = "glyphicon glyphicon-remove";
				//document.getElementById("EmailValidate").classList.add('glyphicon glyphicon-remove');
				//document.getElementById("EmailValidate").classList.remove('glyphicon glyphicon-ok');
				document.getElementById("Register").disabled = true;
				console.log("naslov je napacen");
			}
			
		})
		
		function checkIfRegisterReady(){
			
			if(document.getElementById("EmailValidate").className === "glyphicon glyphicon-ok" && 
			(document.getElementById("Country").value !== "" || document.getElementById("Country").value !== null)
			){
				document.getElementById("Register").disabled = false;
			}else{
				document.getElementById("Register").disabled = true;
			}
			
			
		}
	


	});
</script>
</body>
</html>